.icon-new { background-image: url(../images/new_icon.jpg); }
.icon-updated { background-image: url(../images/updated_icon.png); }

tr.unread td.subject {font-weight:bold;}

tr.new td.subject {font-weight:bold;}